@import url('https://fonts.googleapis.com/css?family=Laila:300');

body {
    background-color: gainsboro;
}

body {
    font-family: Laila;
    color:gainsboro;
}


#menu {
    font-family: laila;
    color:gainsboro;
    
    line-height: 75px;
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}

.navbar {
    background-color: rgba(30, 30, 30, 0.7) ;
}

#menu li {
    text-align: center;
    float: right;
    margin-top: 10px;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

.callout-container {
    height: 100vh;

    background: url('/assets/images/pexels-alina-vilchenko-3610752.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}


.callout-text {
    background-color: rgba(30, 30, 30, 0.7);
    padding: 20px;
}

.callout-text p {
    font-size: x-large;
}

.callout-text {
    display: inline-block;
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}


@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* cards */

.features-container{
height: 80vh;

background: gainsboro;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size:over;
display: inline-flexbox;
align-items: center;
justify-content: center;
position: relative;
margin-top: 10vh;
overflow-block: scroll;
}
 
.card {
    display: inline-block;
    font-size: 100%;
    font-family: laila;
    background-color: rgba(30, 30, 30, 0.7);
    position:relative;

}

.card h5 {
    text-decoration:underline gainsboro;
}

.container-healing div {
    background-color: rgb(104, 104, 104);
}

.container-healing h5 {
    color: rgb(223, 223, 223);
}

.container-healing p {
    color: gainsboro;
}

.jumbotron {
    align-self: center;
}

.jumbotron h2 {
    color: #333;
}

.jumbotron h1 {
    color: rgba(30, 30, 30, 0.7);
    padding: 20px;
}

.jumbotron p {
    color: #333;
}

.footer-container {
    height: 20vh;
    text-decoration: none;
    list-style-type: none;
    background-color: rgba(30, 30, 30, 0.7);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
    position: relative;
}

.social-networks i{
    font-size: 250%;
    text-decoration: none;
    list-style-type: none;
    padding:50px;
    display: flexbox;
    color: gainsboro;
}


   
#disclaimer p {
    color: #555;
    text-align: center;
}

    /* connect */

form label {
    color: #555;
}

form p {
    color: #555;
}

button {
    text-align: center;
}

.container-fluid h2 {
    color: #333;
}

#gallery h1 { 
    color: #333;
}

#emma {
    display: flex;
    justify-content: center;
}

#button-connect {
    display: flex;
    justify-content: center;
}